<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.reverse_each do |photo| %>
      <tr>
        <td><%= link_to (image_tag photo.picture_url, width: '25%' if photo.picture.present?), photo %><td>
        <td><%= link_to photo.name, photo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
